<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/f3ea3cb0-74a5-452d-946b-a9c106f65024/resourceGroups/app-grp/providers/Microsoft.Web/sites/webapp3396</ResourceId>
    <ResourceGroup>app-grp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://webapp3396.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://webapp3396.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$webapp3396</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>